@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .activities-text {
        @apply text-sm py-1 px-2 rounded-lg;
    }
    .my-anime {
        transition: width 2s, height 4s;
    }
}

:root {
    --primary-Blue: 88 71 235;
    --primary-Light-red-work: 255 140 102;
    --primary-Soft-blue-play: 86 194 230;
    --primary-Light-red-study: 255 92 95;
    --primary-Lime-green-exercise: 89 207 138;
    --primary-Violet-social: 117 54 211;
    --primary-Soft-orange-self-care: 241 198 91;

    --neutral-Very-dark-blue: 15 20 36;
    --neutral-Dark-blue: 28 31 74;
    --neutral-Desaturated-blue: 111 118 200;
    --neutral-Pale-Blue: 189 193 255;
}

html,
body {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    background-color: rgb(var(--neutral-Very-dark-blue));
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
